/AdminView.class
/BranchManagementView.class
/CheckOutView.class
/CustomerView.class
/MainView.class
/ManagerView.class
/OrderingView.class
/PaymentMethodsView.class
/StaffManagementView.class
/StaffView.class
/TrackOrderView.class
